/* ------------
    reset
------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------
    common
------------ */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 15px 100px;
}

.box {
    width: calc(100% / 3 - 10px);
    /* width: 157px; */
    min-height: 300px;
    margin: 0 5px;
    background-color: rgb(65, 65, 230);
    border: 2px solid red;
    float: left;
}





body {
    background-color: rgb(238, 243, 250);
}

.container {
    width: 900px;
    margin: auto;
    padding: 5px 0;
    background-color: white;
}

